<template>
    <cdx-button @click="open = true">
      Show post edit dialog
    </cdx-button>
    <cdx-dialog
        class="postedit"
        v-model:open="open"
        title="Edit another suggestion:"
        close-button-label="Close"
        @default="open = false"
    >
      <div class="postedit-dialog-contents">
      <cdx-card :thumbnail="thumbnailData">
        <template #title>
          Classical kemençe
        </template>
        <template #description>
          stringed instrument played with a bow, from Asia Minor
        </template>
      </cdx-card>
      <div class="mw-ge-help-panel-postedit-navigation">
        <div class="pager"><strong>1</strong> of <strong>5</strong> suggestions</div>
        <cdx-button aria-label="Back">
          <cdx-icon :icon="cdxIconPrevious()" />
        </cdx-button>
        <cdx-button aria-label="Forward">
          <cdx-icon :icon="cdxIconNext()" />
        </cdx-button>
      </div>
      <cdx-button>View all suggested edits</cdx-button>
      </div>
    </cdx-dialog>
</template>

<script>

import {CdxButton, CdxCard, CdxDialog, CdxIcon } from '@wikimedia/codex';
import {ref} from "vue";
import {cdxIconPrevious, cdxIconNext} from "@wikimedia/codex-icons";

const thumbnailData = {
  width: 200,
  url: 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Kemence_Sezgin_(1).jpg/200px-Kemence_Sezgin_(1).jpg'
};

export default {
  name: 'Post-edit dialog',
  methods: {
    cdxIconNext() {
      return cdxIconNext
    },
    cdxIconPrevious() {
      return cdxIconPrevious
    }
  },
  components: {CdxIcon, CdxCard, CdxDialog, CdxButton },
  setup() {
    const open = ref( false );
    return {
      open,
      thumbnailData
    };
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .postedit-dialog-contents {
    background-color: rgba(234,243,255,0.5)
  }
</style>
