
<template>
  <link rel="stylesheet" href="https://doc.wikimedia.org/codex/main/assets/style.9de193e9.css">
  <PostEditDialog msg="Welcome to Your Vue.js App"/>
</template>

<script>
import PostEditDialog from './components/PostEditDialog.vue'

export default {
  name: 'App',
  components: {
    PostEditDialog
  }
}
</script>

<style>
#app {
  text-align: center;
  margin-top: 60px;
}
</style>
